header h1{
    font-size: 20vw;
}

header p{
    font-size: 1em;
}

header{
    padding: 20vh 2em 2em 2em;
    display: grid;
    gap: 3em;
}

header > div:first-of-type{
    display: grid;
    gap: 1em;
}

header > div:last-of-type{
    display: grid;
    grid-template-columns: 20vw auto;
    padding-top: 5em;
}

header div img{
    width: 100%;
}

main{
    padding: 2em;
    display: grid;
    gap: 8em;
}

main section:not(:last-of-type){
    background-color: var(--color-section-color);
    padding: 2em;
}

main section:not(:last-of-type) article{
    display: flex;
    gap: 2em;
    flex-direction: column;

}

main section:not(:last-of-type) article p:first-of-type{
    order: -1;
}

main section:not(:last-of-type) p,
main section:not(:last-of-type) h2,
main section:not(:last-of-type) h3,
main section:not(:last-of-type) a,
main section:not(:last-of-type) span{
    color: black;
}

main section:not(:last-of-type) a{
    text-decoration: underline;
}

main section:not(:last-of-type) span,
main section:not(:last-of-type) h2,
main section:not(:last-of-type) h3{
    font-family: reithsansB;
}

main section:not(:last-of-type) img{
    width: 100%;
}

main section:last-of-type div h2,
main section:last-of-type div p{
    font-size: 2em;
    color: var(--color-text-secundaire);
}


main section:last-of-type > p{
    font-size: 8.5vw;
    word-break: break-word;
    font-family: reithsansR;
    font-weight: lighter;
    text-decoration: underline;
    padding: 1em 0 2em 0;
}

main section:last-of-type div:last-of-type{
    display: flex;
    justify-content: center;
    align-items: center;
}

main section:last-of-type div:last-of-type p{
    color: white;
    font-size: 2em;
}

@media (width > 600px){  
    header{
        grid-template-columns: 1fr 20vw;
    }

    header h1{
        font-size: 5em;
    }

    header > div:last-of-type{
        grid-column: span 2;
    }

    header div div{
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

    header > div > img{
        width: 7em;
        display: flex;
        justify-self: center;
    }
    main section:last-of-type div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (width > 900px){

    main section:not(:last-of-type){
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3em;
    }

    main section:not(:last-of-type) a {
        display: flex;
        justify-content: flex-end;
        padding-right: 5vw;
      }

      main section:last-of-type > p{
        font-size: 4em;
    }
}

@media (width > 1280px){  
    header,
    main{
        width: 1280px;
    }
}